div {
    border-color: black;
    border-style: groove;
    width: auto;
    height: auto;
    padding: 25px;
}

img {
    border-style: solid;
    border-radius: 50px;
}

body {
    background-image: url('https://img.freepik.com/free-vector/ink-splash-duotone-stripe-background_1409-1379.jpg?size=626&ext=jpg');
    box-shadow: 1px 1px grey;
}

li {
    margin: 10px;
}

h1, h2, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

h2 {
    text-shadow: 2px 2px royalblue;
}

.Anson {
    background-color: rgba(205, 217, 255, .5); /*50% transparent */
}

.Corey {
    background-color: rgba(119, 176, 100, 0.5); /*50% transparent */

}

.Samuel {
    background-color: rgba(176, 224, 159, 0.5); /*50% transparent */
}
